:root {
    --td: 1.2s;
    --d: 0.1s;
    --bc: #4040bf;
  }
  
  .block-reveal {
    --t: calc(var(--td) + var(--d));
  
    color: transparent;
    padding: 4px;
  
    position: relative;
    overflow: hidden;
  
    animation: revealBlock 0s var(--t) forwards;
  }
  
  .block-reveal::after {
    content: '';
  
    width: 0; /* Modificado para iniciar con ancho 0 */
    height: 100%;
    padding-bottom: 4px;
  
    position: absolute;
    top: 0;
    left: 0;
  
    background: var(--bc);
    animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
  }
  
  @keyframes revealBlock {
    100% {
      color: #0f0f0f;
    }
  }
  
  @keyframes revealingIn {
    0% {
      width: 0;
    }
  
    100% {
      width: 100%; /* Cambiado para animar el ancho completo */
    }
  }
  
  @keyframes revealingOut {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(calc(100% - 0.5em)); /* Cambiado para animar el ancho de caracteres */
    }
  }
  